#header{
    background-color: black;
}

.contents{
    margin-top: 7.5em;
    margin-bottom: 1.5em;
}

#v-pills-tab{
    border-radius: 4px 4px 4px 4px;
    background-color: black;
}

#header-Report {
    color: #18d26e;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    background-color: black;
    border-radius: 4px 4px 4px 4px;

}

.form-report {
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
}

#NombreDatosPersonales{
  margin-left: 5%;
}

#NewList{
  
}
