<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="utf-8">
<title>TrackOrJargh</title>
<meta content="width=device-width, initial-scale=1.0" name="viewport">
<meta content="" name="keywords">
<meta content="" name="description">

<!-- Favicons -->
<link href="/img/favicon.png" rel="icon">
<link href="/img/apple-touch-icon.png" rel="apple-touch-icon">

<!-- Google Fonts -->
<link
	href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Montserrat:300,400,500,700"
	rel="stylesheet">

<!-- Bootstrap CSS File -->
<link href="/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

<!-- Libraries CSS Files -->
<link href="/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
<link href="/lib/animate/animate.min.css" rel="stylesheet">
<link href="/lib/ionicons/css/ionicons.min.css" rel="stylesheet">
<link href="/lib/owlcarousel/assets/owl.carousel.min.css"
	rel="stylesheet">
<link href="/lib/lightbox/css/lightbox.min.css" rel="stylesheet">

<!-- Main Stylesheet File -->
<link href="/css/style.css" rel="stylesheet">
<link href="/css/styleContent.css" rel="stylesheet">

<!-- Start Rating-->
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/rateYo/2.3.2/jquery.rateyo.min.css">

</head>

<body>

	{{>header}}

	<!--==========================
          Intro Section
        ============================-->
	<section id="intro">
		<div class="intro-container">
			<div id="introCarousel" class="carousel  slide carousel-fade"
				data-ride="carousel">

				<ol class="carousel-starts">
					<i class="ion-ios-star"></i>
					<i class="ion-ios-star"></i>
					<i class="ion-ios-star"></i>
					<i class="ion-ios-star-half"></i>
					<i class="ion-ios-star-outline"></i>
				</ol>

				<div class="carousel-inner" role="listbox">
					<div class="carousel-item active"
						style="background-image: url('{{content.image}}');">
						<div class="carousel-container">
							<div class="carousel-content">
								<h2>Sinopsis</h2>
								<p>{{content.synopsis}}</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- #intro -->

	<main id="main"> <!--==========================
              Services Section
            ============================-->
	<section id="services">
		<div class="container">

			<header class="section-header wow fadeInUp">
				<h3>
					<i class="ion-ios-information-outline"></i> Información
				</h3>
			</header>

			{{^isBook}}
			<div class="text-center videoYoutube" style="width: 100%;"
				data-wow-duration="1.4s">
				<iframe style="width: 100%; height: 400px;"
					src="{{content.trailer}}"
					frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
			</div>
			{{/isBook}}
			
			{{^isBook}}
			<div class="row">
				<div class="col-lg-6 col-md-6 box wow bounceInUp"
					data-wow-duration="1.4s">
					<div class="icon">
						<i class="ion-ios-color-wand-outline"></i>
					</div>
					<h4 class="title">
						<a href="">Director/es</a>
					</h4>
					<p class="description">{{#directors}}{{name}}{{/directors}}</p>
				</div>
				<div class="col-lg-6 col-md-6 box wow bounceInUp"
					data-wow-duration="1.4s">
					<div class="icon">
						<i class="ion-ios-paper-outline"></i>
					</div>
					<h4 class="title">
						<a href="">Actores</a>
					</h4>
					<p class="description">{{#actors}}{{name}}{{/actors}}</p>
				</div>
			</div>
			{{/isBook}}
			
			{{#isBook}}
			<div class="row">
				<div class="col-lg-6 col-md-6 box wow bounceInUp"
					data-wow-duration="1.4s">
					<div class="icon">
						<i class="ion-ios-paper-outline"></i>
					</div>
					<h4 class="title">
						<a href="">Autores</a>
					</h4>
					<p class="description">{{#authors}}{{name}}{{/authors}}</p>
				</div>
			</div>
			{{/isBook}}

		</div>
	</section>
	<!-- #services --> <!--==========================
            Call To Action Section
            ============================-->
	<section id="call-to-action" class="wow fadeIn">
		<div class="container text-center prueba">
			<h3>Puntua {{typeContent}}</h3>
			<div class="starts">
				<span id="rateYo"></span>
			</div>
		</div>
	</section>

	<!--==========================
            Episodes Section
    ============================-->
	
	{{#episodeSection}}
	<section class="mt-5" id="episodes">
		<div class="container">

			<header class="section-header wow fadeInUp">
				<h3>
					<i class="ion-social-youtube"></i> Capítulos
				</h3>
			</header>

			<div class="container contents">
				<div class="row">

					<div class="col-lg-2">
						<div class="nav nav-pills" id="v-pills-tab" role="tablist"
							aria-orientation="vertical">
							<a class="nav-link active" id="v-pills-Seasson1"
								data-toggle="pill" href="#v-pills-Seasson1" role="tab"
								aria-controls="v-pills-home" aria-selected="true">Temporada
								1</a> <a class="nav-link" id="v-pills-MyLists-tab"
								data-toggle="pill" href="#v-pills-MyLists" role="tab"
								aria-controls="v-pills-profile" aria-selected="false">Temporada
								2</a> <a class="nav-link" id="v-pills-Account-tab"
								data-toggle="pill" href="#v-pills-Account" role="tab"
								aria-controls="v-pills-messages" aria-selected="false">Temporada
								3</a>
						</div>
					</div>

					<div class="tab-content col-lg-9" id="v-pills-tabContent">
						<div class="tab-pane fade show active border rounded p-3"
							id="v-pills-Seasson1" role="tabpanel"
							aria-labelledby="v-pills-Seasson1">

							<div id="accordion">
								<div class="card">
									<div class="card-header" id="headingOne">
										<h5 class="mb-0">
											<button class="btn btn-link" data-toggle="collapse"
												data-target="#collapseOne" aria-expanded="true"
												aria-controls="collapseOne">Capítulo 1</button>
											<div class="float-right">
												<span class="fa fa-eye-slash seen"></span>
											</div>
										</h5>
									</div>

									<div id="collapseOne" class="collapse show"
										aria-labelledby="headingOne" data-parent="#accordion">
										<div class="card-body">
											<h5>Sinopsis:</h5>
											<p>El capítulo trata de ....</p>
										</div>
									</div>
								</div>
								<div class="card">
									<div class="card-header" id="headingTwo">
										<h5 class="mb-0">
											<button class="btn btn-link collapsed" data-toggle="collapse"
												data-target="#collapseTwo" aria-expanded="false"
												aria-controls="collapseTwo">Capítulo 2</button>
											<div class="float-right">
												<span class="fa fa-eye-slash seen"></span>
											</div>
										</h5>
									</div>
									<div id="collapseTwo" class="collapse"
										aria-labelledby="headingTwo" data-parent="#accordion">
										<div class="card-body">El capítulo trata de ....</div>
									</div>
								</div>
								<div class="card">
									<div class="card-header" id="headingThree">
										<h5 class="mb-0">
											<button class="btn btn-link collapsed" data-toggle="collapse"
												data-target="#collapseThree" aria-expanded="false"
												aria-controls="collapseThree">Collapsible Group
												Item #3</button>
										</h5>
									</div>
									<div id="collapseThree" class="collapse"
										aria-labelledby="headingThree" data-parent="#accordion">
										<div class="card-body">Anim pariatur cliche
											reprehenderit, enim eiusmod high life accusamus terry
											richardson ad squid. 3 wolf moon officia aute, non cupidatat
											skateboard dolor brunch. Food truck quinoa nesciunt laborum
											eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on
											it squid single-origin coffee nulla assumenda shoreditch et.
											Nihil anim keffiyeh helvetica, craft beer labore wes anderson
											cred nesciunt sapiente ea proident. Ad vegan excepteur
											butcher vice lomo. Leggings occaecat craft beer
											farm-to-table, raw denim aesthetic synth nesciunt you
											probably haven't heard of them accusamus labore sustainable
											VHS.</div>
									</div>
								</div>
							</div>

						</div>
					</div>
				</div>
			</div>

		</div>
	</section>
	{{/episodeSection}}


	<!-- #call-to-action --> <!--==========================
              Contact Section
            ============================-->
	<section id="contact" class="section-bg wow fadeInUp">
		<div class="container">

			<div class="section-header">
				<h3>
					<i class="ion-android-chat"></i> Comentarios
				</h3>
			</div>

			<div class="row contact-info">
				{{#comments}}
				<div class="col-lg-12 col-md-12 wow bounceInUp box-comment"
					data-wow-duration="1.4s">
					<div class="profile-comment">
						<div class="icon">
							<i class="ion-ios-person-outline"></i>
						</div>
						<h4 class="col-lg-20 title">
							<a href=""><b>{{user.name}}</b></a>
						</h4>
					</div>

					<div class="starts-comment">
						<i class="ion-ios-star"></i> <i class="ion-ios-star"></i> <i
							class="ion-ios-star"></i> <i class="ion-ios-star"></i> <i
							class="ion-ios-star"></i>
					</div>

					<div class="comment text-left">
						<p class="description">{{comment}}</p>
					</div>
					<div class="text-right mt-1">
						<p class="reporte">
							<a href="#Comentarios">Responder</a> | <a href="">Reportar</a>
						</p>
					</div>
				</div>
				{{/comments}}
			</div>

			<div class="form">
				<div id="sendmessage">Tu mensaje se ha enviado correctamente.</div>
				<div id="errormessage"></div>
				<form action="" method="post" role="form" class="contactForm">
					<div id="Comentarios" class="form-group">
						<input type="text" class="form-control" name="asunto" id="subject"
							placeholder="Asunto" data-rule="minlen:4"
							data-msg="Por favor introduzca un asunto de almenos 8 caracteres." />
						<div class="validation"></div>
					</div>
					<div class="form-group">
						<textarea class="form-control" name="comentario" rows="5"
							data-rule="required" data-msg="Introduzca un comentario."
							placeholder="Mensaje"></textarea>
						<div class="validation"></div>
					</div>
					<div class="text-center">
						<button type="submit">Enviar Comentario</button>
					</div>
				</form>
			</div>

		</div>
	</section>
	<!-- #contact --> </main>

	{{>footer}}

	<a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

	<!-- JavaScript Libraries -->
	<script src="/lib/jquery/jquery.min.js"></script>
	<script src="/lib/jquery/jquery-migrate.min.js"></script>
	<script src="/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
	<script src="/lib/easing/easing.min.js"></script>
	<script src="/lib/superfish/hoverIntent.js"></script>
	<script src="/lib/superfish/superfish.min.js"></script>
	<script src="/lib/wow/wow.min.js"></script>
	<script src="/lib/waypoints/waypoints.min.js"></script>
	<script src="/lib/counterup/counterup.min.js"></script>
	<script src="/lib/owlcarousel/owl.carousel.min.js"></script>
	<script src="/lib/isotope/isotope.pkgd.min.js"></script>
	<script src="/lib/lightbox/js/lightbox.min.js"></script>
	<script src="/lib/touchSwipe/jquery.touchSwipe.min.js"></script>
	<!-- Contact Form JavaScript File -->
	<script src="/contactform/contactform.js"></script>

	<!-- Template Main Javascript File -->
	<script src="/js/main.js"></script>

	<!-- Start Rating -->
	<!-- Latest compiled and minified JavaScript -->
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/rateYo/2.3.2/jquery.rateyo.min.js"></script>

	<script>
		$("#rateYo").rateYo({
			rating : 1.6,
			spacing : "5px",
			ratedFill : "#18d26e"
		});
	</script>

</body>
</html>