<html >
<head>
	<link href="/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
	<link href="/lib/ionicons/css/ionicons.css" rel="stylesheet">
	<link href="/css/style.css" rel="stylesheet">
	<link href="/css/error.css" rel="stylesheet">
</head>
<body style="background-color: #f7f7f7">
	<h1>|TrackOrJargh</h1>
	<div class="d-flex justify-content-center align-self-center flex-wrap h-50 w-100" >
			<i class="p-2 ion-sad-outline align-self-center" style="font-size: 250; color: #18d26e"></i>
			<div class ="p-2 align-self-center flex-wrap">
				<h2>ERROR loQueTuQuierasPapu</h2>
				<p>Amigo la liaste parda pero no pasa nada te queremos igual por favor:</p>
				<a href="/" class="btn-get-started scrollto justify-self-center">Volver</a>
			</div>
	</div>
</body>
</html>