<!--==========================
          Header
============================-->
<header id="header">
	<div class="container-fluid">

		<div id="logo" class="pull-left">
			<h1>
				<a href="/" class="scrollto">TrackOrJargh</a>
			</h1>
			<!-- Uncomment below if you prefer to use an image logo -->
			<!-- <a href="#intro"><img src="img/logo.png" alt="" title="" /></a>-->
		</div>

		<div class="icon search">
			<i class="ion-ios-search-strong text-center"></i>
		</div>
		<input type="text" name="user" id="search-bar" tabindex="1"
			class="form-control"
			placeholder="Busca tus películas, series o libros..." value="">

		<nav id="nav-menu-container">
			<ul class="nav-menu">
				<li {{#indexActive}}class="menu-active"{{/indexActive}}><a href="/">Inicio</a></li>
				<li {{#searchActive}}class="menu-active"{{/searchActive}}><a href="/busqueda">Búsqueda</a></li>
				<li {{#filmsActive}}class="menu-active"{{/filmsActive}}><a href="/peliculas">Películas</a></li>
				<li {{#showsActive}}class="menu-active"{{/showsActive}}><a href="/series">Series</a></li>
				<li {{#booksActive}}class="menu-active"{{/booksActive}}><a href="/libros">Libros</a></li>
				
				{{#userLogged}}
				<li class="menu-has-children"><a href="">{{name}}</a>
					<ul>
						<li><a href="miperfil">Perfil</a></li>
						<li><a href="#">Mis listas</a></li>
						<li><a href="#">Ajustes</a></li>
					</ul></li>
				<li>
				{{/userLogged}}
				
				{{^userLogged}}
					<a href="/login">Login</a></li>
				{{/userLogged}}
				
				{{#userLogged}}
					<a href="/logout">Logout</a></li>
				{{/userLogged}}
			</ul>
		</nav>
		<!-- #nav-menu-container -->
	</div>
</header>
<!-- #header -->